{% extends "base.html" %}
{% block content %}

    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">login</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    {% if session.logged_in %}
        <h1>Hi!</h1>
        <div class="posts panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Posts</h3>
        </div>
        <table class = "table table-striped">
          <thead></thead>
          <tr>
            <th><strong>Title</strong></th>
            <th ><strong>Text</strong></th>
          </tr>
          {% for entry in entries %}
            <tr>
              <td >{{ entry.title }}</td>
              <td >{{ entry.text|safe }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
        <h3>add a new post</h3>
        <form action="{{ url_for('add') }}" method="POST">
            <div class="form-group">
                Title: <input class="form-control" type="text" name="title">
                Text: <input class="form-control" type="text" name="text">
                <button class="btn btn-success" type="submit">Post!</button>
            </div>
        </form>
    {% endif %}
{% endblock %}